<!-- code html ro dar dakhele <html> </html> minevisan -->
<html>
    <head>
        <!--  href=file akse kojast |  -->
        <!-- tag img baraye neshon dadane akse | src = addresse file aks -->
        <img src="https://cdn.iconscout.com/icon/premium/png-512-thumb/cmd-4-551076.png" />
        <!-- title site -->
        <title> site jadid </title>
    </head>
    <body>
        <h1> HELLO WORLD! </h1>
        <!-- h1 = Header1, sizesh bozorge  1 = bozorgtarine , 6 = kochik tarine -->
        <h1>
            Badminton
        </h1>
        <!-- p mokhafafe paragraphe -->
        <!-- big -> baraye bozorg tar kardane matn -->
        <big><big><p>
            Learning Badminton
        </p></big></big>
        <!-- break line | khate sefid | blank line -->
        <br>
        <br>
        <br>
        <p style="background-size: cover;">

        </p>
    </body>
</html>
